$color-white: #FFFFFF;
$color-white-two: #EEEEEE;
$color-white-three: #F7F7F7;
$color-white-four: #D9D9D9;
$color-greyish: #B0B0B0;
$color-greyish-light: #E0E0E0;

$color-black-dark: #000000;
$color-black: #2A2A2A;
$color-black-two: #333333;
$color-greish-brown-two: #474747;

$color-silver: #B9BEC0;

$color-ocean-blue: #0160AF;
$color-ocean-blue-light: #2588DA;
$color-pale-grey: #EAF2F6;

$color-dark: #1A1C3C;
$color-dark-two: #13142C;
$color-slate: #52526C;

$color-marine: #08325A;

$color-yellow-orange: #FFB500;
$color-squash: #EFA224;
$color-light-gold: #FFD162;

$color-scarlet: #D0021B;
$color-cherry-red: #E4002B;
$color-purple-red: #910149;

$color-disabled-background: rgb(235, 235, 228);
$color-disabled-border: rgb(169, 169, 169);
$color-disabled-text: rgb(128, 128, 128);

$color-twitter: #1DA1F2;
$color-facebook: #4267B2;
